p {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
}

#album-art {
    width: 100%;
    position: absolute;
    filter: brightness(50%);
}

#song-name {
    font-size: 3rem;
    margin-bottom: 0.25em;
    font-weight: 600;


}

#artists {
    font-size: 1.5rem;
    font-weight: 300;
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: black;
}

#small-album-art {
    height: 33rem;
    margin-right: 1em;
    position: absolute;
    left: 3em;
    bottom: 3em;
}

#details-container {
    position: absolute;
    left: calc(3rem + 33rem + 2rem);
    bottom: calc(18.5rem);

    
    z-index: 1;
    color: whitesmoke;

}