p {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

#album-art {
    width: 100%;
    position: absolute;
    filter: brightness(50%);
    z-index: 0;
}

#song-name {
    font-size: 2.75em;
    margin-bottom: 0.25em;
    font-weight: 600;
}


#artists {
    font-size: 1.5em;
    font-weight: 300;

}


#container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: black;
}


#small-album-art {
    height: 33vh;
    margin-right: 3em;
}


#details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    position: absolute;
    left: 5em;
    bottom: 5em;

    
    color: whitesmoke;

}

#controls {
    z-index: 1;
    color: whitesmoke;
    position: absolute;
    top: 1em;
    font-size: 2em;


    display: flex;
}

#timestamp {
    margin: 0 2em;
}